/* Requirements: */
/* 1.  Style the site navigation so that: */
/* a. Visited links appear in a different color than their default state. */
/* b. When you hover over a link, the text is bold. This should only be when hovering.  Otherwise, the text should be the normal thickness. */
/* c. Active links should not be underlined. */
/* 2. Add a section to the menu for beverages... */
/* 3. Style this table to match your site's look and feel. */


body {
  font-family: Verdana;
  letter-spacing: 2px;
  }

/* container */

#container {
  width: 85%;
  /* background-image: url("paper.png"); */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

/* header */

#header {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 0 0 10px 0;  
  }

#reataurant-name {
  font-family: 'Cherry Cream Soda', cursive;
  text-shadow: 2px 2px #000000;
  text-align: center;
  text-transform: uppercase;
  color: #e60000;
  }

/* navigation */

#navigation {
  width: 99%;
  height: 35px;
  font-size: 16px;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  margin-left:auto;
  margin-right:auto;
  }

#navigation ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
  }

#navigation li { 
  display: inline; 
  padding: 20px; 
  }

#navigation a:link {
  text-decoration: none;
  color: #e60000;
  padding: 8px 8px 8px 8px;
  text-transform: uppercase;
  }

#navigation a:visited {
  text-decoration: none;
  color: #669900;
  padding: 8px 8px 8px 8px;
  text-transform: uppercase;
  }

#navigation a:hover {
  font-weight: bold;
  color: #b30000;
  text-decoration: underline;
  padding: 8px 8px 8px 8px;
  text-transform: uppercase;
  }

#navigation a:active {
  text-decoration: none;
  font-style: bold;
  padding: 8px 8px 8px 8px;
  text-transform: uppercase;
  }

/* home */

#home {
  background-color: #f2f2f2;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 0;
  text-align: justify;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

#hometext {
  width: 430px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 10px 1px 10px;
  text-align: justify;
  }


/* menu */

#menu {
  background-color: #f2f2f2;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

/* contact */

#contact {
  background-color: #f2f2f2;
  align-items: center;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;  
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

/* footer */

#footer {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;  
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  text-align: center;
  line-height: 1.8;
  color: #e60000;
  }


