/* CSS */

body {
  font-family: Verdana;
  letter-spacing: 2px;
  }

/* container */

#container {
  width: 85%;
  background-image: url("paper.png");
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

/* header */

#header {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 0 0 10px 0;  
  }

#reataurant-name {
  text-align: center;
  text-transform: uppercase;
  color: #e60000;
  }

/* navigation */

#navigation {
  width: 99%;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #000000;
  border-radius: 8px;
  margin-left:auto;
  margin-right:auto;
  }

#navigation ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
  }

#navigation li { 
  display: inline; 
  padding: 20px; 
  }

#navigation a {
  text-decoration: none;
  color: #FFFFFF;
  padding: 8px 8px 8px 8px;
  text-transform: uppercase;
  }

#navigation a:hover {
  color: #e60000;
  text-decoration: underline;
  }

/* home */

#home {
  width: 430px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  text-align: justify;
  }


/* menu */

#menu {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 0 0 10px 0;  

  }

/* contact */

#contact {
  align-items: center;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;  
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

/* footer */

#footer {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;  
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  text-align: center;
  line-height: 1.8;
  color: #e60000;
  }


