/* Requirements: */
/* Style the restaurant name with a hosted or embedded font. */
/* Make sure that the menu item names are larger than their descriptions. */
/* Give the menu background a color other than white.  */
/* Set the background of the home page's content - not including the header, footer, or site navigation - to a color other than white. */
/* Set the form labels for the required fields to be bold.  */


body {
  font-family: Verdana;
  letter-spacing: 2px;
  }

/* container */

#container {
  width: 85%;
  /* background-image: url("paper.png"); */
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

/* header */

#header {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 0 0 10px 0;  
  }

#reataurant-name {
  font-family: 'Cherry Cream Soda', cursive;
  text-shadow: 2px 2px #000000;
  text-align: center;
  text-transform: uppercase;
  color: #e60000;
  }

/* navigation */

#navigation {
  width: 99%;
  height: 35px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  margin-left:auto;
  margin-right:auto;
  }

#navigation ul {
  height: auto;
  padding: 8px 0px;
  margin: 0px;
  }

#navigation li { 
  display: inline; 
  padding: 20px; 
  }

#navigation a {
  text-decoration: none;
  color: #e60000;
  padding: 8px 8px 8px 8px;
  text-transform: uppercase;
  }

#navigation a:hover {
  color: #b30000;
  text-decoration: underline;
  }

/* home */

#home {
  background-color: rgba(102, 163, 255, 0.5);
  width: 430px;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 10px 1px 10px;
  text-align: justify;
  }


/* menu */

#menu {
  background-color: #f2f2f2;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  padding: 0 0 0 0;  

  }

/* contact */

#contact {
  align-items: center;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;  
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

/* footer */

#footer {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;  
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  text-align: center;
  line-height: 1.8;
  color: #e60000;
  }


