/* Requirements: */
/* Add Bootstrap to the page. */
/* The Tracks table should be a responsive table. */
/* Alternate the background color of the tracks. */
/* Show the album in a circle shape. */

.container {
  /* border-style: solid; */
  /* border-width: 5px; */
  /* border-color: #734d26; */
  padding-top: 10px;}

.jumbotron {
  background-image: url("background.jpg");
  background-color: #cccccc;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  margin-bottom: 10px;
  }

body {
  background-image: url("background.jpg");
  font-family: Verdana;
  }

a:link {
  text-decoration: none;
  color: #1560BD;
  }

a:visited {
  text-decoration: none;
  color: #990000;
  }

a:hover {
  text-decoration: underline;
  background-color: rgba(115, 77, 38,0.25);
  padding: 3px 6px 3px 6px;
  }

a:active {
  text-decoration: underline;
  }

li {
  font-family: Verdana;
  font-style: italic;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.8;
  list-style-type: square;
  }

li:hover {
  background-color: rgba(115, 77, 38,0.25);
  color: #000; 
  font-weight: bold;
  }

#albumCover {
  background: url("Zac_Brown_Band_The_Foundation.jpg") no-repeat center center;
  background-color: rgba(115, 77, 38,0.25);
  width: 575px;
  height: 575px;
  margin: 5px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 5px;
  border-color: #734d26;
  padding: 5px 5px 5px 5px;
  }

div.band {
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 10px;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  border-radius: 6px;
  }

div.tracks {
  margin-left:auto; 
  margin-right:auto;
  margin-bottom: 10px;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  border-radius: 6px;
  font-weight: bold;
  }

img.smallnote {
  height: 25px;
  padding: 0 15px 0 15px;
  }
  
.table {
  border-collapse: collapse;
  border-right: 1px solid black;
  border-left: 1px solid black;
  letter-spacing: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  }

table.center {
  margin-left:auto; 
  margin-right:auto;
  }

#table {
  width: 98%;
  }
    
caption {
  padding: 10px 0 5px 0;
  letter-spacing: 2px;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  font-size: 25px;
  color: #000;
  text-align: center;
  }

table, th, td {
  height: 25px;
  text-align: center;
  vertical-align: middle;
  }

th {
  background-color: #000000;
  color: white; 
  }

.table-striped tbody > tr:nth-child(odd) {
  background-color: rgba(115, 77, 38,0.25);
  }

.table-striped tbody > tr:nth-child(even) {
  background-color: rgba(115, 77, 38,0.35);
  }

.table-hover tbody tr:hover > td {
  background-color: rgba(255, 255, 255,0.5);
  color: #fff;
  }

th, td {
  border-bottom: 1px solid #000000;
  }
  
#trackData {
  font-style: italic;
  }
  
div.footer {
  margin-left:auto; 
  margin-right:auto;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border-style: none;
  }
  
p.sig {
  text-align: center;
  text-decoration: line-through;
  font-style: italic;
  }