/* Requirements: */
/* 1. Add a Carousel that rotates with three pieces of information: */
/* a. We're opening a new location! */
/* b. We're rolling out our seasonal menu, with special options for this season. */
/* c. The Drink of the Month is SG Special Brew. */
/* 2. Make sure that users who have JavaScript disabled know that this site is best viewed with JavaScript enabled */

body {
  font-family: Verdana;
  letter-spacing: 2px;
  }

/* container */

#container {
  width: 85%;
  background-image: url("paper.png");
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 5px 0 5px 0;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

/* header */

#header {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 0 0 10px 0;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  float: none;
  }

#reataurant-name {
  font-family: 'Cherry Cream Soda', cursive;
  text-shadow: 2px 2px #000000;
  text-align: center;
  text-transform: uppercase;
  color: #e60000;
  font-size: 5em;
  }

/* navigation */

a {
  color: #e60000;
  text-decoration: none;
  }

#navigation {
  width: 75%;
  margin-left:auto;
  margin-right:auto;
  padding: 0 10px 0 10px;
  font-size: 1.25em;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  float: none;
  }

#navigation ul {
  height: auto;
  padding: 8px 0px 8px 0px;
  margin-left:auto;
  margin-right:auto;
  }

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  color: #fff;
  background-color: #e60000;
  font-size: bold;
  }
  
#navigation a:link {
  text-decoration: none;
  color: #e60000;
  padding: 5px 0px 5px 0px;
  text-transform: uppercase;
  }

#navigation a:hover {
  color: #000;
  padding: 5px 0px 5px 0px;
  text-transform: uppercase;
  }

#navigation a:active {
  text-decoration: none;
  font-style: bold;
  padding: 5px 0px 5px 0px;
  text-transform: uppercase;
  }

/* home */

#homeCarousel {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px;
  border-style: dotted;
  border-width: 2px;
  border-color: #000;
  float: none;
  }

#home {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 0;
  text-align: justify;
  border-style: dotted;
  border-width: 2px;
  border-color: #000;
  float: none;
  }

#hometext {
  width: 90%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 10px 1px 10px;
  text-align: justify;
  float: none;
  }

.carousel-caption {
  color: #fff;
  font-weight: bold;
  background-color: rgba(128, 128, 128, 0.25);
  text-shadow: 1px 1px 0 #000;
  padding-top: 2px;
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-caption h3 {
  font-family: 'Cherry Cream Soda', cursive;
  }

.carousel-control {
  width: 5%;
  }
  
.img-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  border-style: double;
  border-width: 5px;
  border-color: #000;
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  }

img {
  margin: 5px;
  }

/* menu */

#menu {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 20px;
  padding: 20px 0 15px 0;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  float: none;
  text-align: center;
  }


/* contact */

#contact {
  align-items: center;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 10px;  
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }
  
.form-control {
  width: 98%;
  }

.btn-primary {
  color: #fff;
  /* background-color: #337ab7; */
  background-color: #e60000;
  /* border-color: #2e6da4; */
  border-color: #000;
  width: 200px;
  }

.btn {
  font-size: 1.25em;
}

.button {
  float: none;
  text-align: center;  
  }

.checkbox label, .radio label {
  min-height: 20px;
  padding-left: 20px;
  margin-bottom: 10px;
  font-weight: 700;
  cursor: pointer;
  vertical-align: text-top;
  }
  
.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio] {
  position: absolute;
  margin: 4px 10px 4px -25px;
  }  

.checkbox-inline {
  font-weight: 700;
  }

.radio-text {
  padding-top: 0px;
  text-align: right;
  }

.text-justify-xs {
    text-align: left;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .text-justify-sm {
        text-align: right;
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    .text-justify-md {
        text-align: right;
    }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .text-justify-lg {
        text-align: right;
    }
}


/* footer */

#footer {
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;  
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  line-height: 1.8;
  color: #e60000;
  float: none;
  }


