/* Requirements: */
/* 1) Style at least one HTML element using an in-line style. */
/* 2) Style at least one HTML element using internal style sheets. */
/* 3) Store most of your styles in an external style sheet named albumStyles.css. */

body {
  background-image: url("background.jpg");
  font-family: Verdana;
  }

a:link {
  text-decoration: none;
  color: #1560BD;
  }

a:visited {
  text-decoration: none;
  color: #990000;
  }

a:hover {
  text-decoration: underline;
  }

a:active {
  text-decoration: underline;
  }

li {
  font-family: Verdana;
  /* text-indent: 5px; */
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.8;
  list-style-type: square;
  }

li:hover {
  background-color: #734d26;
  color: white; 
  font-weight: bold;
  }

div {
  width: 83%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  }
  
div.band {
  margin-left:auto; 
  margin-right:auto;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

div.tracks {
  margin-left:auto; 
  margin-right:auto;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

img.smallnote {
  height: 20px;
  padding: 0 15px 0 15px;
  }

table {
  border-collapse: collapse;
  border-right: 1px solid black;
  border-left: 1px solid black;
  letter-spacing: 2px;
  align: center;
  width: 98%;
  }

table.center {
  margin-left:auto; 
  margin-right:auto;
  }

caption {
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  }

table, th, td {
  height: 25px;
  text-align: center;
  vertical-align: middle;
  }

th {
  background-color: #000000;
  color: white; 
  }
  
tr:nth-child(odd) {
  background-color: #bfbfbf;
  }

tr:hover {
  background-color: #734d26;
  color: white;
  font-weight: bold;
  }

th, td {
  border-bottom: 1px solid #000;
  }
  
div.footer {
  margin-left:auto; 
  margin-right:auto;
  border-style: none;
  }
  
p.sig {
  text-align: center;
  text-decoration: line-through;
  font-style: italic;
  }