/* Requirements: */
/* 1. Apply styles to the link to the band's site with the following desired effects: */
/* a. Links should only be underlined when you are hovering over a link.  The other states should not be underlined. */
/* b. When hovering, set the background of the link to a different color. */
/* 2. Italicize the track numbers, titles, and lengths. */
/* 3. Set the table background to a color of your choice. */

body {
  background-image: url("background.jpg");
  font-family: Verdana;
  }

a:link {
  text-decoration: none;
  color: #1560BD;
  }

a:visited {
  text-decoration: none;
  color: #990000;
  }

a:hover {
  text-decoration: underline;
  background-color: rgba(115, 77, 38,0.25););
  padding: 3px 6px 3px 6px;
  }

a:active {
  text-decoration: underline;
  }

li {
  font-family: Verdana;
  font-style: italic;
  text-align: justify;
  letter-spacing: 2px;
  line-height: 1.8;
  list-style-type: square;
  }

li:hover {
  background-color: rgba(115, 77, 38,0.25);
  color: #000; 
  font-weight: bold;
  }

#albumCover {
  background: url("Zac_Brown_Band_The_Foundation.jpg") no-repeat center center;
  width: 400px;
  height: 400px;
  margin: 5px;
  border-style: solid;
  border-width: 5px;
  border-color: #734d26;
  padding: 5px 5px 5px 5px;
  }

div {
  width: 83%;
  margin-left:auto;
  margin-right:auto;
  margin-bottom: 10px;
  padding: 10px 0 10px 0;
  }
  
div.band {
  margin-left:auto; 
  margin-right:auto;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

div.tracks {
  margin-left:auto; 
  margin-right:auto;
  border-style: dotted;
  border-width: 2px;
  border-color: #000000;
  }

img.smallnote {
  height: 20px;
  padding: 0 15px 0 15px;
  }

table {
  border-collapse: collapse;
  border-right: 1px solid black;
  border-left: 1px solid black;
  letter-spacing: 2px;
  align: center;
  width: 98%;
  background-color: #fff;
  }

table.center {
  margin-left:auto; 
  margin-right:auto;
  }

caption {
  padding: 0 0 10px 0;
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 25px;
  text-transform: uppercase;
  }

table, th, td {
  height: 25px;
  text-align: center;
  vertical-align: middle;
  }

th {
  background-color: #000000;
  color: white; 
  }
  
tr:nth-child(odd) {
  background-color: rgba(191, 191, 191,0.25);
  }

tr:hover {
  background-color: rgba(115, 77, 38,0.25);
  color: #000;
  font-weight: bold;
  }

th, td {
  border-bottom: 1px solid #000;
  }
  
#trackData {
  font-style: italic;
  }
  
div.footer {
  margin-left:auto; 
  margin-right:auto;
  border-style: none;
  }
  
p.sig {
  text-align: center;
  text-decoration: line-through;
  font-style: italic;
  }